
<nav class="navbar navbar-light" id= "orange_background"> 
  <a class="navbar-brand" href="/"> 
    
    <%= image_tag("logo.png", width: "33", height: "33", class: "d-inline-block align-top", alt: "", loading: "lazy") %>

   <span>Food</span> <span class= highlight>Harmony</span>
  </a>
</nav>