
<nav class="navbar navbar-light" id= "orange_background"> 
  <a class="navbar-brand" href="#"> 
    
    <%= image_tag("logo.png", width: "45", height: "45", class: "d-inline-block align-top", alt: "", loading: "lazy") %>

    Food Harmony
  </a>
</nav>